@import url('https://fonts.googleapis.com/css2?family=Khand&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Khand', sans-serif;
    
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(86,9,121,1) 51%, rgba(0,255,201,1) 100%);
}

.content {
    max-width: 50%;
    margin: auto;
    padding: 10px;
  }

h1 {
    color: aquamarine;
    font-size: 69px;
    padding: 0;
}

#title {
    display: inline-block;
}
